html, body {
  margin: 0;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  background: $black;
}

.pages {
  display: flex;
  flex-direction: row;
}
