.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .button {
    position: absolute;
    bottom: 200px;
    animation: fadein .45s cubic-bezier(0.86, 0, 0.07, 1);
  }
}

.quote,
.loading {
  color: $green-1;
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  margin: 0 10rem;
  animation: fadein .45s cubic-bezier(0.86, 0, 0.07, 1);
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
