html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#app {
  background: #f5f5f5;
  width: 100%;
  height: 100%;
}

.center {
  position: relative;
  background: #f5f5f5;
  width: 200px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  top: calc(50% - 50px);
  left: calc(50% - 100px);
}
